
<style>
*{-webkit-tap-highlight-color:transparent}
*, ::after, ::before{-webkit-box-sizing:border-box;box-sizing:border-box}
h1, h2, h3, h4, h5, h6{margin:0;font-weight:700;font-family:var(--fontH);color:var(--headC)}
h1{font-size:1.9rem}
h2{font-size:1.7rem}
h3{font-size:1.5rem}
h4{font-size:1.4rem}
h5{font-size:1.3rem}
h6{font-size:1.2rem}
a{color:var(--linkC);text-decoration:none}
a:hover{opacity:.9;transition:opacity .1s ease}
table{border-spacing:0}
iframe{max-width:100%;border:0;margin-left:auto;margin-right:auto}
input, button, select, textarea{outline:none;font:inherit;font-size:100%;color:inherit;line-height:normal}
input[type=search]::-ms-clear, input[type=search]::-ms-reveal{display:none;appearance:none;width:0;height:0}
input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration{display:none;-webkit-appearance:none;appearance:none}
button{margin:0;padding:0;background:transparent;text-align:unset;border:none;outline:none}
img{display:block;position:relative;max-width:100%;height:auto}
svg{width:var(--svgW);height:var(--svgH);fill:var(--svgC);filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4))}
svg.fill, svg .fill{fill:var(--svgC)}
svg.line, svg .line{fill:none;stroke:var(--svgC);stroke-linecap:round;stroke-linejoin:round;stroke-width:2}
svg.line.c, svg.line .c, svg .line.c{fill:none;stroke:var(--linkC)}
svg.c, svg .c, svg.fill.c, svg.fill c, svg .fill.c{fill:var(--linkC)}
svg.line.c1, svg.line .c1, svg .line.c1{fill:none;stroke:var(--iconCa)}
svg.c1, svg .c1, svg.fill.c1, svg .fill.c1{fill:var(--iconCa)}
svg.line.c2, svg.line .c2, svg .line.c2{fill:none;stroke:var(--iconCs);opacity:.4}
svg.c2, svg .c2, svg.fill.c2, svg .fill.c2{fill:var(--iconCs);opacity:.4}
[hidden]:not([hidden=false]), body .hidden{display:none}
body .invisible{visibility:hidden}
.clear{width:100%;display:block;margin:0;padding:0;float:none;clear:both}
.fCls{display:block;margin:0;padding:0;border:none;outline:none;position:fixed;inset:-50%;z-index:1;background:transparent;visibility:hidden;opacity:0;pointer-events:none;transition:var(--trans-1)}
.free::after, .new::after{content:var(--m-free);display:inline-block;color:var(--linkC);font-size:12px;font-weight:400;margin:0 5px}
.new::after{content:var(--m-new)} 
  </style>

  

<style>.drK .hero-gradient,.hero-gradient{-webkit-text-fill-color:transparent}.search-box{display:flex;align-items:center;margin-bottom:20px}.search-box input{width:100%;padding:10px 10px 10px 40px;border-radius:5px;border:1px solid var(--contentL);background:var(--contentBs);font-size:16px}.drK .search-box input{background-color:#2b2b2b;color:#fff;border:1px solid #444}.drK .search-box input::placeholder{color:#ccc}.search-box .icon{position:absolute;margin-left:10px;size:20px}.animated-gradient {background: linear-gradient(270deg, #f00fff, #00ffff, #00ff00, #ffff00, #ff0000 );background-size: 400% 400%;animation: gradientAnimation 20s ease infinite, blurGrow 5s ease infinite;-webkit-background-clip: text;color: transparent;}@keyframes gradientAnimation {0% {background-position: 0% 50%;}50% {background-position: 100% 50%;}100% {background-position: 0% 50%;}}@keyframes blurGrow {0% {transform: scale(1);filter: blur(0px);}50% {transform: scale(1.1);filter: blur(2px);}100% {transform: scale(1);filter: blur(0px);}}.hero-labels{display:flex;flex-wrap:nowrap;overflow-x:auto;white-space:nowrap;padding-bottom:5px}.hero-label{display:flex;align-items:center;background-color:var(--contentBs);border:1px solid var(--contentL);border-radius:5px;color:var(--black);text-decoration:none;transition:background-color 0.3s ease;margin-right:8px;padding:4px 10px}.hero-label:hover{background-color:#f0f0f0}.hero-label svg{margin-right:8px;width:18px;height:18px}.hero-labels::-webkit-scrollbar{height:3px}.hero-labels::-webkit-scrollbar-thumb{background-color:#888;border-radius:4px}.hero-labels::-webkit-scrollbar-thumb:hover{background-color:#555}.drK .hero-label{background-color:var(--contentBs);color:var(--darkT)}.hero-label svg {fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:2;}.animated-gradient:after { background-image: url(&#39;data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2Mi45IDMuNzgiPjxwYXRoIGQ9Ik0uMTIsMi44czI2Ljc5LTMuMzggNjIuNy0uODYiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgLTAuMDEpIiBzdHlsZT0iZmlsbDpub25lO3N0cm9rZTojRkYwMDAwO3N0cm9rZS13aWR0aDoycHgiLz48L3N2Zz4=&#39;);background-repeat: no-repeat;background-size: 100% auto;bottom: -1px;content: &#39;&#39;;height: 5px;left: 0;position: absolute;width: 100px;}

  </style>
  
  
  
 <style>
    #mainbx{background: transparent;} .nullsjrhero{color:var(--hero-color);text-align:center;margin:0 0 30px} .nullsjrhero h1{display:block;font-size:35px;font-weight:700;margin:0 0 13px} .nullsjrhero p{display:block;font-size:16px;color:var(--hero-text-color);margin:0}
    .rown{width:100%;max-width:100%;margin:0} .cntne{padding:0 15px}} @media screen and (max-width: 640px){ .nullsjrhero h1 { font-size: 31px;}}
    .htitle{background: #FF0000;
    background: radial-gradient(circle farthest-side at center center, #FF0000 0%, #A42323 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    drop-shadow(1px 2px 1px #000000):
    }
    .plc{
    padding: 3px;
    }
    .plc p{ margin: 2px 2px 2px 2px; font-size:14px; font-weight: bold;
    text-transform: capitalize;}
    .mygd svg,.mygd img{
    padding: 5px;
    width: 70px;
    height:70px;
    background: linear-gradient(hsl(0 0% 100% / 0.15), #0000), hsl(0 0% 4%);
    border-radius: 9px;
    box-shadow:
    0 -1px hsl(0 0% 0% / 0.5) inset,
    0 2px 4px hsl(0 0% 0% / 0.5),
    0 3px hsl(0 0% 100% / 0.2) inset;
    margin: 5px;
    }
    @media screen and (max-width: 485px) {
    .mygd{gap:4px;}
    }
    .plc:hover{
    transform: scale(.93);
    transition: .2s;
    background: linear-gradient(45deg,#ce00ff,#00eaff);
    border-radius:6px;
    color: white;
    box-shadow: 0px 3px 10px #ff00f15b;
    }
  </style>
  
